@model Kurnik.Models.EditLobbyViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="card" style="width: 40%; padding: 20px; text-align: center">
    <h2>Create lobby</h2>
    <hr />
    <div class="row">
        <div class="col-sm">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="padding-left:10%; padding-right:10%" >
                    <input asp-for="Name" placeholder="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Private" /> @Html.DisplayNameFor(model => model.Private)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
