@model Kurnik.Models.EditLobbyViewModel;

<h2>Ustawienia pokoju o id @ViewContext.RouteData.Values["id"]</h2>

<form asp-controller="Lobby" asp-action="Edit" asp-route-id="@ViewContext.RouteData.Values["id"]"
      method="post" class="form-horizontal" role="form">
    Nazwa: <input asp-for="Name"/> <br/>
    Prywatny <input type="checkbox" asp-for="Private"/> <br/>
    <button type="submit">Zapisz</button>
</form>